<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HMOS_WearToolBox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HMOS_WearToolBox.Properties.Settings>
            <setting name="AutoRefreshInterval" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="AutoUpdateEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TerminalFontName" serializeAs="String">
                <value>Cascadia Mono</value>
            </setting>
            <setting name="TerminalFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="TerminalForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="TerminalBackColor" serializeAs="String">
                <value>Black</value>
            </setting>
        </HMOS_WearToolBox.Properties.Settings>
    </userSettings>
</configuration>